<h1>Sad to see you leave...</h1>

<div class="form-container">
{{#if tryAgain}}
  {{>errorTwo }}
{{/if}}


<form id="signup" method="POST">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="deleteSig" type="submit">Delete account</button>
</form>
</div>
