<div class="container">
<h1>Sign Petition</h1>
<div class="description">
    
 <img class="plane" src="/on_plane_copy.png" alt="cnn.com">
 <figcaption>© cnn.com</figcaption>
 <p>Have you ever wondered what the people who stand up as soon as the plane lands do with all that extra time they saved? <br>This petition puts an end to that madness. Please support and sign!</p>

</div>
{{#if inputIncomplete}}
  {{>error }}
  {{/if}}
<div class="form-container">
<div class="signup">

<form id="signup" method="POST" action="/petition">
  <canvas id="canvas" width="250" height="70" ></canvas>
  <input type="hidden" id="signature" name="signature">
  <label class="sign-here" for="signature">Sign here *</label>

  <button id="button" type="submit">Submit signature ✓</button>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<button id="deleteSig" type="submit">Clear Signature ✖</button>
<form id="signup" method="GET" action="/editprofile">
<button id="button" type="submit">Edit Your Profile ✎</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</div>
<a class="logout" href="/logout">Log out</a>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js"></script>
