<h1>Profile</h1>

<div class="form-container">
<p>Please tell us a little about yourself.</p>
<form id="signup" method="POST" action="/profile">
  <label for="age"></label>
  <input type="text" id="age" name="age" placeholder="Age">
  
  <label for="City"></label>
  <input type="text" id="city" name="city" placeholder="City">
  
  <label for="Homepage"></label>
  <input type="url" id="url" name="url" placeholder="Homepage">
  <br>
  <input id="button" type="submit" value="Submit  ✈">
</form>
</div>