<h1>Profile</h1>

<div class="form-container">
<p>Please tell us a little about yourself.</p>
<form id="signup" method="POST" action="/profile">
  <label for="age"></label>
  <input type="number" min="0" id="age" name="age" placeholder="Your age">
  
  <label for="City"></label>
  <input type="text" id="city" name="city" placeholder="Your city">
  
  <label for="Homepage"></label>
  <input type="text" id="url" name="url" placeholder="Homepage">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <br>
  <button id="button" type="submit">Submit ✓</button>
</form>
</div>