<div class="signedBy-Container">
<img class="plane" src="/on_plane_sitting_cnn_copy.png" alt="cnn.com">
<figcaption>© cnn.com</figcaption>
<h1>Supported by</h1>
<ol class="list-Names">
{{#each listOfNames}}
<li>{{firstname}} {{lastname}} </li>
{{/each}}
</ol>
</div>