<div class="thanks-container">
<img class="plane" src="/on_plane_sitting_cnn_copy.png" alt="cnn.com">
<figcaption>© cnn.com</figcaption>
<h3>Thank you {{firstname}} for signing the petition <br>(and thank you for remaining in your seat)</h3>


<div class= "signature-pic-box">
<img src="{{signatureImg}}"> 
</div>

<form id="signup" method="GET" action="/editprofile">
<input id="button" type="submit" value="Edit Your Profile"></form>
<form id="signup" method="GET" action="/petition">
<input id="button" type="submit" value="Edit signature"></form>




<a href="/signedBy">Check out all {{numOfNames}} signers</a>

<a class="logout" href="/logout">Logout</a>
</div>