<div class="thanks-container">
<img class="plane" src="/on_plane_sitting_cnn_copy.png" alt="cnn.com">
<figcaption>© cnn.com</figcaption>
<h3>Thank you {{currentName}} for signing the petition <br>(and thank you for remaining in your seat)</h3>


<div class= "signature-pic-box">
<img src="{{signatureImg}}"> 
</div>
<a href="/petition">Edit signature</a>

<a href="/signedBy">Check out all {{numOfNames}} signers</a>

<a class="logout" href="/logout">Logout</a>
</div>